graft panel_chem_bio/dist
include panel_chem_bio/*.json
include panel_chem_bio/models/*.ts
include panel_chem_bio/index.ts
include README.md
global-exclude *.ipynb_checkpoints/*
global-exclude *.py[co]
global-exclude *~